@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

/* Apply Roboto Slab font globally to all elements */
* {
  font-family: "Roboto Slab", serif; /* Use Roboto Slab as the default font */
  font-optical-sizing: auto; /* Optional for optical sizing */
  font-weight: 400; /* Default font weight */
  font-style: normal; /* Default font style */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
  box-sizing: border-box; /* Include padding and borders in width/height */
}

.bg-image {
  background-image: url("/public/images/party1.jpg"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed on scroll */
  height: 100vh; /* Sets the height to cover the full viewport */
  width: 100vw; /* Sets the width to cover the full viewport */
}

.Login-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 150px;
  margin-top: 40px;
  margin-right: 60px;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .Login-btn {
    font-size: 16px;
    margin-top: 30px;
    margin-right: 30px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .Login-btn {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
  }
}

.saarang-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  margin-left: 60px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .saarang-image {
    scale: 0.8;
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .saarang-image {
    scale: 0.5;
    margin-top: 10px;
    margin-left: 20px;
  }
}

#container1 {
  border-radius: 50px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  #container1 {
    width: 450px;
  }
}

@media (max-width: 480px) {
  #container1 {
    width: auto;
    margin: 0 20px 0 20px;
  }
}

.title1 {
  font-size: 30px;
  margin-left: 30px;
}

.title2 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .title1 {
    font-size: 24px;
    margin-left: 20px;
  }
  .title2 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 24px;
    margin-left: 16px;
  }

  .title2 {
    font-size: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }
}

.form-control {
  padding: 12px 12px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 20px;
  border: none;
}

@media (max-width: 768px) {
  .form-control {
    font-size: 16px;
    margin-top: 16px;
  }
}

@media (max-width: 480px) {
  .form-control {
    font-size: 12px;
    margin-top: 8px;
  }
}

.form-control:focus {
  border-color: rgba(58, 224, 25, 0.8);
  box-shadow: 0 2px 1px rgba(8, 149, 177, 0.704) inset, 0 0 8px rgb(12, 166, 112);
  outline: 0 none;
}

.form-control::placeholder {
  color: black;
  opacity: 1;
  font-weight: 100;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .form-control::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .form-control::placeholder {
    font-size: 12px;
  }
}

.invalid-feedback {
  margin-top: 0;
  width: 150px;
  margin: auto;
  font-size: 15px;
}

@media (max-width: 768px) {
  .invalid-feedback {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .invalid-feedback {
    font-size: 10px;
  }
}

.submit-btn {
  font-size: 18px;
  width: 33%;
  background-color: white;
  color: black;
  border: none;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .submit-btn {
    font-size: 16px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .submit-btn {
    font-size: 12px;
    margin-top: 15px;
  }
}

#container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: linear-gradient(90deg, rgba(74, 46, 46, 0.8) 0%, rgba(121, 87, 9, 0.7) 35%, rgb(208, 15, 99, 50%) 100%);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #container2 {
    height: 70px;
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  #container2 {
    height: 50px;
    justify-content: space-around;
  }
}

.social-image {
  height: 60px;
  width: 60px;
  margin-right: 40px;
}

.end-image {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .social-image {
    scale: 0.8;
  }

  .end-image {
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .social-image {
    scale: 0.5;
  }
  .end-image {
    margin-right: 0px;
  }
}
